body {
    background: #FFFFFF;
    font-family: "Avenir", "Droid Sans", "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 1em;
    color: #222;
}

h1 {
    margin: 0px;
    padding: 0px;
}

#wrapper{
padding:20px;
width: 1200px;
height: 850px;
margin:auto;
border-radius: 5px; 
-moz-border-radius: 5px; 
-webkit-border-radius: 5px; 
border: 1px solid #EEE;
overflow:auto;
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(-45deg, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
background: linear-gradient(135deg, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.circleBase{
    width: 250px;
    height: 250px;

    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    float:left ;
    text-align: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    
}
.circleBase a{
    font-size:10px;
    }
    
    li {
    	display:inline;
    }

.circleBase img{
	float: left;
    border: 0px;
    padding:5px;
}
#top-content{

	width:1100px;
	height:318px;
	margin:auto;
	 background-color:#F8F8FF; 
	/*overflow:auto;*/	
	float:left;

}

#feed {
    list-style-type: none;
    margin: 0 auto;
    padding: 0px;
}

#center-content{

	width:1100px;
	height:auto;
	padding:10px;
	margin-top:20px;
	background-color:#F8F8FF; 
    
	overflow:auto;	
	float:left;

}
#bottom-content{
	padding:20px;
    margin-top:20px;
	width:1100px;
	height:400PX;
	float:left;

}

#newalbumdiv {
    width: 350px;
    height:350px;
    border-radius: 15px; 
    -moz-border-radius: 15px; 
    -webkit-border-radius: 15px; 
    border: 1px solid #EEE;
    background-color:pink;
        text-align: middle;

    /* ARG!  The goal here is to center the login div in the middle of the page.  I
       can't get "margin 0px auto;" to work.  There must be a "right" way to do this.
     */
    position: absolute;
    margin-left:350px; 
    margin-top: 100px;
    padding: 8px;
    
}

#login li {
    display: block;
    padding-bottom: 3px;
}

#error  {
    font-size:12px;
    font-color:red;
    padding: 5px;
}